* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}

li, a {
    font-family: Arial, SansSerif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    background-color: #0020F4;
    height: 318px;
    padding: 30px 10%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    cursor: pointer;
}

.nav-menu {
    list-style: none;
}
.nav-menu li {
    padding: 0 20px;
    display: inline-block;
}

.nav-menu li a {
    transition: all 0.3s ease 0s;
}

.nav-menu li a:hover {
    color: coral;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-logo {
    width:1000px;
    height: 500px;
    position: relative;
    bottom: 80px;
    object-fit: contain;
}

.text-mid {
    text-align: center;
    margin-right: 450px;
}

.grid-images {
    margin-top: 40px;
    display: grid;
    grid-template-columns:1fr repeat(4, 1fr);
    align-items: center;
}

.img {
    object-fit: contain;
    margin: 10px;
}

p {
    text-align: center;
    width:70%;
}

.additional {
    text-align: center;
    width: 40px;
}

footer {
    background-color: #0020F4;
    height: 50%;
}

footer h2 {
    color: white;
    margin-left: 350px;
}